<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Site Viewer Functions</display-name>
    <description>
		Site Viewer is a collection of servlets designed to provide some of the capabilities of
		Google Sites, which is being eliminated in 2021.  Initially, these consist of a  
		viewer, which takes a path and dynamically assembles a web page from content found 
		by that path.
    </description>

	<servlet>
		<servlet-name>sv</servlet-name>
		<servlet-class>com.nolaria.sv.SiteView</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- <servlet>
		<servlet-name>logger</servlet-name>
		<servlet-class>com.nolaria.sv.LogHander</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet> -->

	<servlet-mapping>
		<servlet-name>sv</servlet-name>
		<url-pattern>/sv</url-pattern>
	</servlet-mapping>

<!-- 
	<servlet>
		<servlet-name>viewer</servlet-name>
		<servlet-class>com.nolaria.sv.Viewer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>viewer</servlet-name>
		<url-pattern>/sv/viewer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>editor</servlet-name>
		<servlet-class>com.nolaria.sv.Editor</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>editor</servlet-name>
		<url-pattern>/sv/editor</url-pattern>
	</servlet-mapping>
 -->

</web-app>
